@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.product-carousel {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.product-slide {
    padding-top: 2em;
    padding-bottom: 2em;
}

.nossos {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    font-weight: bold;
    padding-top: 20px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.div-centra-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome-produto {
    font-size: 25px;
}

.slick-dots {
    visibility: hidden;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #111;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ec6a14;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 767px) {
    .product-image {
        width: 60%;
    }

    .glow-on-hover {
        height: 50px;
        width: 100px;
    }

    .nome-produto {
        padding-top: 1em;
    }

    .product-details {
        font-size: 10;
    }

    .nome-produto {
        font-size: 20px;
    }

    .div-centra-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10em;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .slick-dots {
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1284px) {
    .product-image {
        width: 60%;
    }

    .glow-on-hover {
        height: 50px;
        width: 100px;
    }

    .nome-produto {
        padding-top: 1em;
    }

    .product-details {
        font-size: 10;
    }

    .nome-produto {
        font-size: 20px;
    }

    .div-centra-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20em;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    .slick-dots {
        visibility: hidden;
    }
}