@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.sobre_fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

.sobre_fundo_texto {
    display: flex;
    flex-direction: column;
    width: 30em;
    color: white;
    gap: 1em;
}

.sobre_imagem {
    width: 450px;

}

.sobre_fundo_texto_p1 {
    font-size: 42px;
    font-weight: bold;
    color: #b67315;
}

.sobre_fundo_texto_p2 {
    font-size: 20px;

    font-weight: bold;
}

@media (max-width: 767px) {
    .sobre_fundo {
        display: flex;
        flex-direction: column;
        padding-top: 4em;
    }

    .sobre_fundo_texto {
        width: 18em;
    }
}

@media (min-width: 768px) and (max-width: 1284px) {
    .sobre_fundo_texto {
        padding-left: 3em;
    }
}