@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.sobre_fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 5em;
    font-family: 'Ubuntu', sans-serif;
}

.sobre_fundo_texto {
    display: flex;
    flex-direction: column;
    width: 30em;
    color: white;
    padding-right: 200px;
}

.sobre_imagem {
    width: 450px;
    padding-right: 200px;
}

.sobre_fundo_texto_p1 {
    font-size: 42px;
    font-weight: bold;
    color: #b67315;
}

.sobre_fundo_texto_p2 {
    font-size: 20px;
    padding-top: 2em;
    font-weight: bold;
}
