@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.fundo {
    display: flex;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background-image: url("./madeirafundo.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
    gap: 10em;
}

.cv_texto {
    color: white;
    width: 30em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 50);
}

.h3_cv {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    color: #b67315;
}

.p_cv {
    font-size: 20px;
    font-weight: bold;
    padding-top: 2em;
}

.cv_video iframe {
    border-radius: 2em;
}

@media (max-width: 767px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza horizontalmente o conteúdo dentro de .conteudo */
        gap: 2em;
        margin: 0 auto;
    }

    .cv_video {
        display: flex;
        width: 100%; /* Garante que .cv_video ocupa 100% da largura de .conteudo */
        justify-content: center;
    }

    .cv_video iframe {
        border-radius: 2em;
        box-sizing: border-box; /* Inclui as bordas e o preenchimento na largura total do elemento */

    }

    .cv_texto {
        width: 18em;
    }
}

@media (min-width: 768px) and (max-width: 1284px) {
    .conteudo {
        display: flex;
        align-items: center; /* Centraliza horizontalmente o conteúdo dentro de .conteudo */
        gap: 2em;

    }

    .cv_video {
        display: flex;
        width: 100%; /* Garante que .cv_video ocupa 100% da largura de .conteudo */
        justify-content: center;
    }

    .cv_video iframe {
        border-radius: 2em;
        box-sizing: border-box; /* Inclui as bordas e o preenchimento na largura total do elemento */
        width: 450px;
    }

    .cv_texto {
        display: flex;
        flex-direction: column;
        width: 30em;
        padding-left: 3em;
    }
}
