@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.super_container_banner {
    display: flex;
    background-image: url("./barber2.1.jpg");
    background-size: cover; /* Isso faz com que a imagem cubra todo o contêiner */
    background-position: center; /* Centraliza a imagem no contêiner */
    height: 400px;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.container_banner {
    display: flex;
    width: 100%;
}

.container_banner_texto {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

.container_banner_nome {
    font-family: 'Nothing You Could Do', cursive;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 50);
}

.container_banner_texto1 {
    display: flex;
    text-align: center;
    color: #fff;
    padding: 20px; /* Adiciona algum espaço em torno do texto */
    width: 25em; /* Ajusta a largura para ocupar toda a largura do contêiner pai */
    font-size: larger;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 50);
}

.container_banner2 {
    display: flex;
    background-color: #be770cd3;
    padding: 20px;
    width: 25em;
    border-radius: 20px;
    margin-bottom: 1em;
}

.banner_imagem {
    display: flex;
    width: 100%;
}

.banner2_texto {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.banner2_texto_strong {
    font-size: x-large;
}

.banner2_texto_button {
    width: 15em;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.banner2_texto_button:hover {
    background-color: rgb(71, 243, 3);
    color: black;
}