@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.banner {
    display: flex;
    position: relative;
    width: 100%; /* Pode ser qualquer largura desejada */
    height: 400px;
}

.banner_texto1, .banner_texto2 {
    text-align: center;
    color: #fff;
    padding: 20px; /* Adiciona algum espaço em torno do texto */
    width: 25em; /* Ajusta a largura para ocupar toda a largura do contêiner pai */
    box-sizing: border-box;
}

.banner_texto2 {
    background-color: #be770cd3;
    border-radius: 20px;
    margin-bottom: 1em;
}

.banner_imagem {
    width: 100%;
}

.banner_texto_p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.banner_texto_strong {
    font-size: x-large;
}

.banner_texto_button {
    width: 15em;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.banner_nome {
    font-family: 'Nothing You Could Do', cursive;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0;
}

.banner2 {
    box-sizing: border-box;
    position: absolute;
    display: flex; /* Torna a div banner2 um contêiner flexível */
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    left: 20%;
}

.banner_texto_button:hover {
    background-color: rgb(71, 243, 3);
    color: black;
}